@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    background-color: black;
}

/* Hero Section */
.hero {
    background-image: url("../images/black-background-image.jpeg");
    background-size: 100%;
    background-repeat: repeat;
    border-bottom: solid 2px #ba5e08;
    box-shadow: 0 0 10px 5px #ba5e08;
}

#image-col {
    display: flex;
    justify-content: center;
}

#text-col {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#hero-logo {
    max-width: 100%;
}

#hero-title {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
    color: white;
    /* justify-content: center;
    align-content: center; */
    /* display: block; */
}

#hero-subtitle {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    /* justify-content: center;
    align-content: center;
   display: block;*/
}

/* Search Bar Section */
#search-bar {
    border-radius: 10px;
    box-shadow: 0 0 10px 8px #0896ba;
}

#search-bar-input {
    width: 100%;
    border-color: black;
}

#search-button {
    background-color: #0896ba;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: solid 1px black;
}

#search-icon {
    width: 25px;
}

/* Dynamic HTML Table Section */


/* Footer Section */
.footer {
    background-color: black;
    border-top: solid 2px #ba5e08;
    box-shadow: 0 0 10px 5px #ba5e08;
}

.footer-text {
    text-align: center;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;
}